<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="app.js"></script>
<body ng-app="myApp" ng-controller="dispatchCtrl">
  <div class="container-fluid">
    <div class="row">

      <!--New process  -->
    <h1>Process Dispatcher</h1>
    <form ng-submit="readyQueueAdd()">
      <input type="number" ng-model="todoInput" placeholder="Priority">
      <input type="submit" value="Create New Process">
    </form>

    <br>

      <!--Ready Queue -->
      <div class="col-lg-4">
        <span>
        <h2>Ready Queue <button ng-click="dispatch()">Dispatch</button></h2>

      </span>
        <div ng-repeat="x in readyQueue">
          <p>
            <span>processID: {{x.pid}}</span>
            <span>priority: {{x.priority}}</span>
          </p>
        </div>
      </div>

      <!--Running List -->
      <div class="col-lg-4">
        <h2>Running List</h2>
        <div ng-repeat="x in runningList">
          <p>
            <span>processID: {{x.pid}}</span>
            <span>priority: {{x.priority}}</span>
            <button ng-click="remove($index)">Terminate Process</button>
            <button ng-click="block($index)">Block Process</button>
          </p>
        </div>
      </div>

      <!--Blocked List -->
      <div class="col-lg-4">
        <h2>Blocked List</h2>
        <div ng-repeat="x in blockedList">
          <p>
            <span>processID {{x.pid}}</span>
            <span>priority {{x.priority}}</span>
            <button ng-click="unblock($index)">Unblock Process</button>
          </p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
